body{
    margin: 0;
    top:0;
    left:0;
    height: 100%;
}
.header{
    position: absolute;
    left:0;
    top:0;
    background: -webkit-linear-gradient(90deg, #490818,#392173,#5e7287);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #490818,#392173,#5e7287);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    min-width: 100%;
    
}


.menu-list{
    display: flex;
    align-items: center;
    list-style: none;
   flex-wrap: wrap;
   text-align: left;
align-items: center;
margin-left: 300px;

}
.menu-list li{
margin-left: 80px;
}
.menu-list a{
    text-decoration: none;
    color:azure;
    font-size: 30px;
    font-family: 'Caveat';
}
.menu-list li:hover{
    content:'';
    border: 3px solid #fff;
    transition: 1s;
    padding:10px;
}
.main_block_container{
    display: flex;
    width: 100%;
    height: 100%;
}
.page{
    background: -webkit-linear-gradient(90deg, #a80b32,#ab1fad,#4b94e2);/* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(90deg, #a80b32,#ab1fad,#4b94e2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
   height: 100%;
   
    }
.main_block_text{
    color: #fff;
    font-size: 60px;
    padding-top: 200px;
    margin-left:100px;
    font-family:'Pacifico' ;
    font-weight: 200;
}
.main_block_title{
    color: #fff;
    font-size: 28px;
    margin-left: 100px;
    font-family: 'EB Garamond';
    font-weight: 700;
}
.main_btn{
    background: rgb(138, 125, 9);
    width: 90px;
    height: 30px;
    margin-left: 100px;
    border-radius: 20px;
    margin-bottom: 50px;
    font-size: 16px;
    border:none;
    }
    .main_btn a{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
    .main-img{
        position: absolute;
    }
.main-img img{
   display: block;
 margin-top: 140px;
  left: 900px;
position: relative;
margin-bottom: 100px;
border-radius: 60%;
border: 2px solid #fff;
opacity: .7;
}
.main-block-item{
    margin-left:100px;
    color: #fff;
    font-size: 34px;
    font-family: 'Caveat';
}
.services_title{
    margin-top: 100px;
    text-align: center;
 font-size: 40px;
 font-family:'Pacifico' ;
}
.services_сomponents{
    display: flex;
    margin-left: 350px;
    flex-wrap: wrap;
    text-align: center;
}
.services_сomponents-title-1 ,.services_сomponents-title-2{
    margin-top: 40px;
    max-width: 250px;
}
.services_сomponents-title-2{
    margin-left: 150px;
}
.services_сomponents-title-2 p{
    font-size: 18px;
}
.services_сomponents-title-1  h3{
    font-size: 35px;
    font-family: 'EB Garamond';
}
.services_сomponents-title-1  p{
    font-size: 20px;
}
.services_сomponents-title-2 h3{
    font-size: 38px;
    font-family: 'EB Garamond';
}
.services_сomponents-title-1 button{
    margin-top: 15px;
}
.services_сomponents-title-1  button{
    padding: 10px;
    width : 100px;
    border-radius: 25px;
font-size: 16px;
border: 1px solid #000;
background: rgb(145, 187, 221);
}
.services_сomponents-title-2 button{
    padding: 10px;
    width : 100px;
    border-radius: 25px; 
    font-size: 16px;
    border: 1px solid #000;
}
button:hover{
content: '';
background-color: rgb(123, 123, 224);
cursor: pointer;
transition: 2s;
}
.price_title-title{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    position: relative;
    font-family: 'EB Garamond';
}
.price_title h3{
    margin-left: 400px;
}
.development{
    background: rgb(41, 2, 49);
    min-width: 100%;
}
.development h2{
    text-align: center;
   padding-top: 60px;
    font-size: 40px;
    color: #fff;
    margin-left: 50px;
}
.dev_title{
    color:#fff;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Caveat';
}
.development ul {
    text-align: center;
    margin-top: 50px;
}
.development li{
    list-style: none;
}

.price_title-title::after{
    content: "";
    position:absolute;
  border-bottom: 2px solid #000;
    width: 600px;
    right: 350px;
}
.footer_contact{
    display: flex;
    margin-left: 300px;
}
.tel p{
    font-size: 20px;
    font-weight: 700;
}
.tel a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 20px;
}
.email{
    margin-left: 200px;
}
.email p{
    font-size: 30px;
    margin-top: 20px;
}
.footer_container h2{
    text-align: center;
    margin-top: 50px;
  text-align: center;
  font-size: 50px;
}
.title-price{
font-family: 'Caveat';
font-size: 30px;
}
.price_title span{
  color:rgb(16, 16, 129);
}
@media (max-width:320px) {
    .header{
        width: 360%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1150px;
    }
    .page{
        min-width: 360%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 50px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:50px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 400px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 100px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 100px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -550px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        margin-left: 400px;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    margin-left: 40px;
   }
   .development{
    width: 360%;
        height: 1600px;
   }
   .development h2{
    font-size: 70px;
   }
   .dev_title{
    font-size: 50px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 50px;
   }
   .tel p , .email h3{
    font-size: 44px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 50px;
    margin-left: -70px;
   }
}
@media (max-width:340px) {
    .header{
        width: 340%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1150px;
    }
    .page{
        min-width: 340%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 50px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:50px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 400px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 100px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 100px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -550px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        margin-left: 400px;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    margin-left: 40px;
   }
   .development{
    width: 340%;
        height: 1600px;
   }
   .development h2{
    font-size: 70px;
   }
   .dev_title{
    font-size: 50px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 50px;
   }
   .tel p , .email h3{
    font-size: 44px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 50px;
    margin-left: -70px;
   }
}
@media (max-width:360px) {
    .header{
        width: 340%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1150px;
    }
    .page{
        min-width: 340%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 50px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:50px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 400px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 100px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 100px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -550px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        margin-left: 400px;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    margin-left: 40px;
   }
   .development{
    width: 340%;
        height: 1600px;
   }
   .development h2{
    font-size: 70px;
   }
   .dev_title{
    font-size: 50px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 50px;
   }
   .tel p , .email h3{
    font-size: 44px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 50px;
    margin-left: -70px;
   }
}
@media (max-width:460px) {
    .header{
        width: 340%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1150px;
    }
    .page{
        min-width: 340%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 50px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:50px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 400px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 100px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 100px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -550px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        margin-left: 400px;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    margin-left: 40px;
   }
   .development{
    width: 340%;
        height: 1600px;
   }
   .development h2{
    font-size: 70px;
   }
   .dev_title{
    font-size: 50px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 50px;
   }
   .tel p , .email h3{
    font-size: 44px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 50px;
    margin-left: -70px;
   }
}
@media (max-width:360px) {
    .header{
        width: 340%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1150px;
    }
    .page{
        min-width: 340%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 50px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:50px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 400px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 100px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 100px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -550px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        margin-left: 400px;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    margin-left: 40px;
   }
   .development{
    width: 340%;
        height: 1600px;
   }
   .development h2{
    font-size: 70px;
   }
   .dev_title{
    font-size: 50px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 50px;
   }
   .tel p , .email h3{
    font-size: 44px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 50px;
    margin-left: -70px;
   }
}

@media (max-width:460px) {
    .header{
        width: 250%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1150px;
    }
    .page{
        min-width: 250%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 50px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:50px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 400px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 100px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 100px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -550px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        margin-left: 400px;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    margin-left: 40px;
   }
   .development{
    width: 250%;
        height: 2700px;
   }
   .development h2{
    font-size: 110px;
   }
   .dev_title{
    font-size: 80px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 55px;
  font-weight: 800;
   }
   .tel p , .email h3{
    font-size: 48px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 55px;
    margin-left: -70px;
   }
}

    @media (max-width:420px) {
    .header{
        width: 300%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1250px;
    }
    .page{
        min-width: 300%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 120px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:150px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 480px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 180px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        align-items: center;
        margin-left: 150px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 140px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -530px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        align-items: center;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    align-items: center;
   }
   .development{
    max-width: 450%;
        height: 2700px;
   }
   .development h2{
    font-size: 110px;
   }
   .dev_title{
    font-size: 80px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 55px;
  font-weight: 800;
   }
   .tel p , .email h3{
    font-size: 48px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 55px;
    margin-left: -70px;
   }
}
@media (max-width:387px) {
    .header{
        width: 300%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1150px;
    }
    .page{
        min-width: 300%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 50px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:50px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 400px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 100px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 100px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -550px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        margin-left: 400px;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    margin-left: 40px;
   }
   .development{
    width: 300%;
        height: 2700px;
   }
   .development h2{
    font-size: 110px;
   }
   .dev_title{
    font-size: 80px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 55px;
  font-weight: 800;
   }
   .tel p , .email h3{
    font-size: 48px;
   margin-left: -120px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 55px;
    margin-left: -70px;
   }
}
@media (max-width:418px) {
    .header{
        width: 300%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1250px;
    }
    .page{
        min-width: 300%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 120px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:150px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 480px;
        margin-top: 150px;
    }

@media (max-width:390px) {
    .header{
        width: 320%;
    }
    .header_link::after{
        content: '';
        position: absolute;
        display: block;
        border: 2px solid #fff;
        height: 2px;
        width: 1250px;
    }
    .page{
        min-width: 320%;
        height: 2200px;
        
    }
    .menu_link{
        max-width: 200px;
        margin: 0;
    }
    .menu_item a {
        font-size: 80px;
        padding: 50px;
        margin-left: 120px;
    }
    .menu-list{
        margin: 0px;
    }
    .main-title{
        
        width: 700px;
        
    }
    .main_block_text{
        margin-top: 650px;
        font-size: 80px;
        text-align: center;
        min-width: 1000px;
       margin-left:150px;
    }
    .main_btn{
 width: 350px;
        height: 150px;
        margin-left: 480px;
        margin-top: 150px;
    }
    .main_btn a{
     font-size: 7vh;
    }
    .main-block-item{
        margin-left: 180px;
        font-size: 80px;
        min-width: 1000px;
    }
    .main_block_title{
        font-size: 70px;
        align-items: center;
        margin-left: 150px;
        margin-bottom: 0px;
        font-weight: 300;
        min-width: 1000px;
    }
    .price_title-title::after{
        display: none;
    }
    .main-img {
        display: flex;
       position: absolute;
        margin-top: 140px;
    }
    .main-img img{
        position: relative;
        width: 500px;
        height: 570px;
        margin-left: -530px;
        margin-bottom: 50px;
        border: 4px solid #fff;
    }
    .services-title{
        align-items: center;
        font-size: 100px;
    }
   .services_сomponents-title-1 h3{
    font-size: 70px;
    margin-left: -250px;
    min-width: 1000px;
    }
    .services_сomponents-title-2 h3{
        margin-left: -400px;
        font-size: 70px;
        min-width: 1000px;
    }
   .services_сomponents-title-1 p{
    font-size: 70px;
    min-width: 700px;
    margin-left: -100px;
   }
   .services_сomponents-title-2 p{
    margin-left: -210px;
    font-size: 60px;
    min-width: 600px;
   }
   .services_сomponents-title-1 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    margin-left: 80px;
   }
   .services_сomponents-title-2 button{
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    background: rgb(83, 88, 153);
    margin-left: -80px;
   }
   .price_title-title{
    margin-left: 490px;
    font-size: 70px;
   }
   .price_title h3{
    font-size: 80px;
    min-width: 900px;
    align-items: center;
   }
   .development{
    width: 320%;
        height: 2700px;
   }
   .development h2{
    font-size: 110px;
   }
   .dev_title{
    font-size: 80px;
    min-width: 970px;
   }
   .footer_contact{
    margin-left: 130px;
   }
   .footer_container h2{
  margin-left: 450px;
  font-size: 55px;
  font-weight: 800;
   }
   .tel p , .email h3{
    font-size: 48px;
   margin-left: -100px;
    text-align: center;
    min-width: 500px;
   }
   .tel a , .email p {
    font-size: 55px;
    margin-left: -70px;
   }
}


























